
alhurley.Rproj

.Rproj.user

.Rhistory

.RData

.Ruserdata
blogdown

.DS_Store # if a windows user, Thumbs.db instead

public/

static/files/ext_rmd/egu_rhydro_sc/img
static/files/ext_rmd/egu_rhydro_sc/dat
static/files/ext_rmd/egu_rhydro_sc/presentation/01_rHydro_AGLHurley_proc-mod-viz_cache

.*/figure-html/

static/files/ext_rmd/egu_rhydro_sc/presentation/01_rHydro_AGLHurley_proc-mod-viz_files

*.html
